.login-page {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  transition: all 0.2s ease;
}

.login-page .login-box {
  width: 100%;
  max-width: 400px;
  height: 400px;
  padding: 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #111;
}

.login-box-content {
  text-align: center;
  line-height: 50px;
}
.login-box-content span {
  color: #ffbb00;
}

.google-btn {
  border: 3px solid #111;
  display: flex;
  align-items: center;
  width: 194px;
  height: auto;
  background-color: #111;
  border: solid 2px #ffbb00;
  border-radius: 5px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.google-btn .google-icon-wrapper {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #111;
}
.google-btn .google-icon {
  width: 18px;
  height: 18px;
}
.google-btn .btn-text {
  color: #ffbb00;
  font-size: 15px;
  margin-left: 10px;
  letter-spacing: 0.2px;
}
.google-btn:hover {
  box-shadow: 0 0 6px #222;
}
.google-btn:active {
  background: #000;
}
