.category-page {
  padding: 10px;
}

.category-card {
  position: relative;
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
  transition: all 0.2s ease;
}

.category-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  /* backdrop-filter: blur(3px); */
}

.category-card:hover {
  transform: scale(1.05);
}

.category-card .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: 900;
  color: #fff;
  z-index: 2;
}

.category-card img {
  height: 250px;
  width: 100%;
}