.profile-page {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

.profile-page .row {
  height: 100%;
  align-items: center;
}

.profile-inner {
  background-color: #222;
  padding: 20px;
  width: 75%;
  height: 70%;
  border-radius: 5px;
}

.profile-inner img {
  margin-left: 50px;
  border-radius: 50%;
  height: auto;
  width: 200px;
}

.profile-inner .data {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 20px;
  font-weight: 500;
}

.profile-inner .data span {
  color: #ffbb00;
  font-weight: 700;
}

.profile-inner button {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 10px 20px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  border: solid 2px #ffbb00;
  border-radius: 4px;
  background-color: #222;
  font-weight: 500;
  color: #ffbb00;
  cursor: pointer;
}

.profile-inner button svg {
  margin-right: 10px;
  fill: #ffbb00;
}

@media (max-width: 768px) {
  .profile-inner img {
    width: 50%;
    height: auto;
    margin: 0 auto;
  }

  .profile-inner .data {
    margin-bottom: 10px;
    padding: 0px;
    font-size: 18px;
    font-weight: 500;
  }
}
