.card_container {
  padding: 1rem;
  width: 15rem;
  background-color: var(--black-primary);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  cursor: pointer;
}

.card_container:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card_heading {
  font-size: 0.8rem;
  text-align: center;
  color: var(--yellow-secondary);
}

.card_content {
  font-size: 0.8rem;
  margin-top: 1rem;
}

.card_detail {
  font-weight: 300;
  padding: 0.5rem;
}

.card_detail span {
  font-weight: 700;
}
