.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--black-primary);
}

.navbar_logo span {
  color: var(--yellow-primary);
}

.navbar_search {
  display: flex;
  align-items: center;
}
.navbar_search_input input {
  font-size: 1.2rem;
  padding: 0.3rem;
  height: 1.6rem;
  width: 15rem;
  color: var(--yellow-secondary);
  background-color: var(--black-secondary);
  border: none;
}
.navbar_search_icon {
  display: flex;
  align-items: center;
  padding: 0.3rem;
  height: 1.6rem;
  font-size: 1.2rem;
  color: var(--yellow-primary);
  background-color: var(--black-secondary);
}

.navbar_items {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.navbar_item a {
  font-size: 1.2rem;
  color: #fff;
}
.navbar_item a:hover {
  color: var(--yellow-primary);
}
