.detail-page {
  position: relative;
}

.page-title {
  color: #ffbb00;
  text-align: center;
  font-weight: 500;
  margin: 20px 0;
  width: 100%;
}

.back-btn {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 7px 10px;
  border-radius: 5px;
  background-color: #333;
  border: 0;
  font-size: 20px;
  color: #fff;
  z-index: 999;
  cursor: pointer;
}

.detail-page .poster {
  border-radius: 10px;
  overflow: hidden;
  background-color: #333;
  max-height: 600px;
  min-height: 600px;
}

.poster img {
  height: 100%;
  width: 100%;
}

.detail-page .content {
  margin-top: 20px;
}

@media (min-width: 900px) {
  .detail-page .content {
    margin-top: 80px;
    margin-left: 100px;
  }
}

.detail-page h2 {
  margin-bottom: 20px;
}

.detail-page h2:last-child {
  margin-bottom: 0;
}

.detail-page p {
  font-weight: 300;
  margin: 30px 0;
  width: 100%;
}

.details-btn {
  display: flex;
}

.download-btn {
  display: block;
  text-align: center;
  border: 2px solid #ffbb00;
  background-color: transparent;
  cursor: pointer;
  color: #ffbb00;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: 500;
  margin-right: 20px;
  margin-bottom: 20px;
}

.download-btn:hover {
  color: #000;
  background-color: #ffbb00;
}

@media (max-width: 600px) {
  .details-btn {
    flex-direction: column;
  }
  .detail-page .content {
    text-align: center;
  }
}
