.page-title {
  color: #ffbb00;
  text-align: center;
  font-weight: 800;
  margin-bottom: 20px;
  width: 100%;
}

.single-page img {
  border-radius: 10px;
}

.single-page .details {
  margin-top: 20px;
}

.single-page h2 {
  margin-bottom: 20px;
}

.single-page h2:last-child {
  margin-bottom: 0;
}

.single-page p {
  font-weight: 100;
  margin: 30px;
}

.download-btn {
  background-color: #ffbb00;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: 900;
}
